{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Advert edit</h1>

    {{ form_start(edit_form, {'class': 'form-groupe' })}}

    {{ form_label(edit_form.date, 'Date') }}
    {{ form_widget(edit_form.date, {'attr': {'class': 'form-control'}} ) }}

    {{ form_label(edit_form.title, 'titre') }}
    {{ form_widget(edit_form.title, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(edit_form.author, 'Auteur') }}
    {{ form_widget(edit_form.author, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(edit_form.content, 'Description') }}
    {{ form_widget(edit_form.content, {'attr': {'class': 'form-control'}}) }}

        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('platform_advert_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
