{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Application edit</h1>

    {{ form_start(edit_form) }}
    {{ form_start(edit_form, {'attr': {'class': 'form-group'}}) }}

    {{ form_label(edit_form.author, 'Auteur') }}
    {{ form_widget(edit_form.author, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(edit_form.content, 'contenu') }}
    {{ form_widget(edit_form.content, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(edit_form.date, 'Date') }}
    {{ form_widget(edit_form.date, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(edit_form.advert, 'Annonce') }}
    {{ form_widget(edit_form.advert, {'attr': {'class': 'form-control'}}) }}

        <input class='btn btn-primary' type="submit" value="Edit" />
    {{ form_end(edit_form) }}


<li class='row'>
    <a class='btn btn-primary' href="{{ path('platform_application_index') }}">retour à la liste</a>

    {{ form_start(delete_form) }}
    <input class='btn btn-danger' type="submit" value="Delete">
    {{ form_end(delete_form) }}
</li>

{% endblock %}
